<h3>
  Agregar <small>{{ char.name }}</small>
</h3>
<hr />

<form (ngSubmit)="add()">
  <input type="text" placeholder="Nombre" name="name" [(ngModel)]="char.name" />
  <input
    type="number"
    placeholder="Poder"
    name="power"
    [(ngModel)]="char.power"
  />
  <!-- [value]="char.power"
    (input)="handleChangePower($event)" -->
  <button type="submit">Agregar</button>
</form>
