<button (click)="deleteHero()">Delete</button>

<h2>Heroes list</h2>
<ul>
  <li *ngFor="let hero of heroes; let i = index">{{ i + 1 }}. {{ hero }}</li>
</ul>

<h3 *ngIf="deletedHeroes.length; else noDeleted">Deleted heroes list</h3>
<ng-template #noDeleted>
  <h3>Has no deleted anything</h3>
</ng-template>

<ul>
  <li *ngFor="let deletedHero of deletedHeroes; let i = index">
    {{ i + 1 }}. {{ deletedHero }}
  </li>
</ul>
