<h1>{{ name }}</h1>
<dl>
  <td>Name:</td>
  <dd>{{ name }}</dd>
  <td>Age:</td>
  <dd>{{ age }}</dd>
  <td>Method:</td>
  <dd>{{ toString() }}</dd>

  <button (click)="setName('Batman')">Change hero</button>
  <button (click)="setAge(30)">Change age</button>
</dl>
